@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: url(asset/bg.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(7px);
}

.container {
    display: flex;
}

.Header {
    text-align: center;
    margin: 5rem;
}

.person {
    width: 20%;
    text-align: center;
    padding: 30px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.247);
    background-color: white;
}

.person img {
    border-radius: 20px;
}
